:root {
    --main-color: rgba(0, 58, 128, 0.974);
    --secondary-color: rgba(2, 78, 105, .9);
    --click-color: red;
    --project-window-color: lime;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.title {
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-item {
    margin-top: 35px;
    list-style: none;
}

.nav-item li {
    display: inline;
    font-size: 20px;
    margin-right: 25px;
}

.nav-item li a,
.contact-item li a {
    text-decoration: none;
    color: var(--click-color);
    font-family: 'Times New Roman', Times, serif;
 }

.about-me {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 15rem 0 15rem;
}

.project-info {
    background-color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem 15rem;
    margin: 0;
}

.project-info a {
    background-color: gray;
    display: block;
    width: 50%;
    padding: 25px;
    margin: 5px 0 0 0;
    border: solid var(--project-window-color) 5px;
    box-sizing: border-box;
    height: 20rem;
    position: relative;
    overflow: hidden;
}

.project-info a:first-of-type {
    width: 100%;
    height: 40rem;
    position: intial;
}

/* borrowed this code from stackoverflow https://stackoverflow.com/questions/14562457/center-oversized-image-in-div */
.project-info a img {
    width: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.project-info a p {
    background-color: tan;
    border: solid 2px lime;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    padding: 1.75rem 1.5rem 1.75rem 1rem;
}

.project-info a:hover {
    box-shadow: 5px 5px 15px green;
}

.project-info a:active {
    box-shadow: 5px 5px 25px black;
}

.contact-info {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item {
    font-size: 20px;
    padding-inline-start: 0;
    padding: 0rem 15rem 5rem 15rem;
    list-style: none;
}

.contact-item li {
    display: inline;
    padding: 0 50px 0 50px;
    font-size: 20px;
}

@media screen and (max-width: 996px) {
    .project-info {
        flex-direction: column;
        align-items: center;
        padding: 4rem 0;
        flex: 1 0 200px;
    }
    
    .project-info a,
    .project-info a:first-of-type {
        width: 50%;
        height: 20rem;
    }
}