
.header {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    list-style: none;
}

.nav-item li {
    font-size: 20px;
    margin-right: 25px;
}

.nav-item li a {
    text-decoration: none;
 }

.about-me {
    margin-top: 500px;
}

.project-info {
    margin-top: 500px;
}

.contact-info {
    margin-top: 500px;
}

