body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: navy;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.title {
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-item {
    margin-top: 35px;
    list-style: none;
}

.nav-item li {
    display: inline;
    font-size: 20px;
    margin-right: 25px;
}

.nav-item li a {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
 }

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px 0 25px;
    padding: 10px;
}

.project-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem 15rem;
    margin: 0;
}

.project-info img {
    display: block;
    width: 50%;
    padding: 25px;
    margin: 5px 0 0 0;
    border: solid black 2px;
    box-sizing: border-box;
    overflow: hidden;
}

.project-info img:first-of-type {
    width: 100%;
}

.project-info img:hover {
    box-shadow: 5px 5px 15px green;
}

.project-info img:active {
    box-shadow: 5px 5px 25px black;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item {
    font-size: 20px;
    margin-right: 25px;
    list-style: none;
}

.contact-item li {
    display: inline;
    margin: 0 50px 0 50px;
    font-size: 20px;
}

@media screen and (max-width: 996px) {
    .project-info {
        flex-direction: column;
        align-items: center;
        padding: 4rem 0;
        flex: 1 0 200px;
    }
    
    .project-info img:first-of-type {
        width: 50%;
    }
}
